* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
}

/* button 1 */
.button1 button {
  background-color: tomato;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  padding: 20px 60px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  margin: 0 15px;
  cursor: pointer;
}

.button1 button:hover {
  background-color: rgb(0, 255, 242);
  color: rgb(27, 27, 27);
}
/* button 2 */

.button2 button {
  padding: 20px 60px;
  background-image: linear-gradient(#52d6f7, #e367f3);
  color: #fff;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  margin: 0 15px;
  cursor: pointer;
}
.button2 button:hover {
  background-image: linear-gradient(#e367f3, #52d6f7);
}
/* button 3 */

.button3 button {
  padding: 20px 60px;
  display: inline-block;
  color: #008000;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  overflow: hidden;
  transition: all 0.5s;
  border: 1px solid #008000;
  margin: 0 15px;
  cursor: pointer;
}
.button3 button:hover {
  color: #111;
  background: #39ff14;
  box-shadow: 10px 10px 150px #39ff14;
  border: none;
}
/* button 4 */
.button4 button {
  color: #db3eb1;
  border: 3px solid #db3eb1;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 15px;
  padding: 20px 60px;
  cursor: pointer;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1)
    contrast(2) brightness(2);
  transition: 0.5s;
  margin: 0 15px;
}
.button4 button:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 15px #db3eb1) contrast(2) brightness(2);
}
/* button 5 */
.button5 button {
  background-image: linear-gradient(#5adaff, #5468ff);
  border: 0;
  padding: 20px 60px;
  /* margin: 0 15px; */
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.button5 button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button5:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button5 button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* button 6 */
.button6 button {
  background-color: #3498db;
  color: #fff;
  border: none;
  outline: none;
  padding: 20px 60px;
  border-radius: 4px;
  transition: all 0.3s;
  margin: 0 15px;
  cursor: pointer;
  /* transition: background-color 0.3s, transform 0.3s; */
}
.button6 button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}
/* button 7 */

.button7 button {
  border: 2px solid #d34500;
  margin: 0 15px;
  background: transparent;
  padding: 20px 60px;
  color: #d34500;
  transition: 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
}
.button7 button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #d34500;
  clip-path: circle(0% at 50% 50%);
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.button7 button:hover {
  color: #fff;
}
.button7 button:hover::before {
  clip-path: circle(100% at 50% 50%);
}
/* button 8 */
.button8 button {
  border: 2px solid rgb(0, 217, 255);
  border-radius: 3rem;
  color: rgb(0, 217, 255);
  padding: 20px 60px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}
.button8 button::after {
  background-color: rgb(140, 0, 255);
  border-radius: 3rem;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: transform 0.3s ease-out;
  z-index: -1;
}
.button8 button:hover::after {
  transform: translate(0, 0);
}
.button8 button:hover {
  border: 2px solid transparent;
  color: #fff;
  transform: scale(1.05);
}

/* button 9 */
.button9 button {
  /* width: 130px;
  height: 40px; */
  color: #fff;
  padding: 20px 60px;
  background: #fa9aff;
  box-shadow: 0 0 5px #e597e8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 15px;
  position: relative;
}
.button9 button:hover {
  box-shadow: 0 0 10px #e367f3, 0 0 20px #e367f3, 0 0 20px #fff inset;
}

/* button 10 */
.button10 button {
  /* width: 130px;
  height: 40px; */
  color: #fa9aff;
  padding: 20px 60px;
  border: 1px solid #fa9aff;
  box-shadow: 0 0 5px #e597e8, 0 0 5px #e597e8 inset;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 15px;
  position: relative;
}
.button10 button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
  box-shadow: 0 0 20px #e597e8;
  transition: all 0.3s ease;
}
.button10 button:hover {
  color: #e597e8;
  /* color: #fff; */
}
.button10 button:hover::after {
  left: 0;
  width: 100%;
}
.button10 button:active {
  top: 2px;
}

/* button 11 */
.button11 button {
  /* width: 220px;
  height: 40px; */
  padding: 20px 60px;
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  border-radius: 10px;
  z-index: 0;
  cursor: pointer;
}
.button11 button::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: animate1 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.button11 button:active {
  color: #000;
}
.button11 button:active:after {
  background: transparent;
}
.button11 button:hover:before {
  opacity: 1;
}
.button11 button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  border-radius: 10px;
  top: 0;
  left: 0;
}
@keyframes animate1 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* button 12 */
.button12 button {
  color: #fff;
  /* width: 200px;
  height: 55px; */
  padding: 20px 60px;
  margin: 0 15px;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  cursor: pointer;
}
.button12 button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
/* button 13 */

.button13 button {
  position: relative;
  /* width: 200px; */
  padding: 20px 60px;
  font-weight: bold;
  border: 2px solid #3eff37;
  background: transparent;
  color: #3eff37;
  cursor: pointer;
}
.button13 button span {
  background: #3eff37;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.button13 button:hover {
  color: #fff;
}
.button13 button:hover span {
  width: 100%;
}

/* button 14 */
.button14 button {
  position: relative;
  border: none;
  margin: 0 15px;
  padding: 20px 60px;
  background-color: #e91e63;
  color: #fff;
  cursor: pointer;
  transition: all 0.7s;
}
.button14 button::after,
.button14 button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 0;
  border: 2px solid #e91e63;
  transition: all 0.3s;
}

.button14 button::before {
  top: -4px;
  right: 0;
  border-top: none;
}
.button14 button::after {
  bottom: -4px;
  left: 0;
  border-bottom: none;
}

.button14 button:hover::after,
.button14 button:hover::before {
  width: 100%;
}
/* button 15 */
.button15 button {
  position: relative;
  padding: 20px 60px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.button15 button:hover {
  /* ff22bb 00ccff 22e622 */
  background: #ff22bb;
  box-shadow: 0 0 10px #ff22bb, 0 0 30px #ff22bb, 0 0 60px #ff22bb,
    0 0 100px #ff22bb;
}
.button15 button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 400%;
  background: #e91e63;
  transition: 1s;
  animation: animate 2s linear infinite;
  animation-delay: 0.33s;
}
.button15 button:hover::before {
  width: 120%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button15 button::after {
  content: "";
  position: absolute;
  background: #0e1538;
  inset: 4px;
  transition: 0.5s;
}

.button15 button:hover::after {
  background: #e91e63;
}
.button15 button span {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
}

.button15 button:hover span {
  opacity: 1;
}

/* button 16 */
.button16 button {
  background: none;
  border: 1px solid #000;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 60px;
  min-width: 200px;

  margin: 0 15px;
  transition: color 0.4s linear;
  position: relative;
}
.button16 button:hover {
  color: #fff;
}
.button16 button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.button16 button::before {
  transform: scaleY(0);
}
.button16 button:hover::before {
  transform: scaleY(1);
}

/* button 17 */
.button17 button{
  color:#fff;
  background: none;
  padding: 20px 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 15px; 
  position: relative;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, .5),7px 7px 20px 0px rgba(0, 0, 0, .1),4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  display: inline-block;
  overflow: hidden;
}
.button17 button::after{
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.button17 button:hover{
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
inset -4px -4px 6px 0 rgba(255,255,255,.5),
inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
color: #fff;
}
.button17 button:hover::after{
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
   -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
    4px 4px 6px 0 rgba(116, 125, 136, .2),;
}

/* button18 */
.button18 button{
  padding: 20px 60px;
  background: lightseagreen;
  margin: 0 15px;
  border:0px;
  color:#fff;
  box-shadow: 0 0 1px #ccc;
  /* -webkit-transition-duration: 0.5s; */
  transition-duration: 0.5s;
  /* -webkit-transition-timing-function: ease-out; */
  transition-timing-function: ease-out;
  -webkit-box-shadow: 0px 0px 0 0 #31708f inset , 0px 0px 0 #31708f inset;
}
.button18 button:hover{
  /* -webkit-box-shadow: 0px 50px 0 0px #31708f inset , 0px -50px 0 0px #31708f inset;  */
  box-shadow: 0px 50px 0 0px #31708f inset , 0px -50px 0 0px #31708f inset; 
}

/* button 19 */
.button19 button {
  background: none;
  border: 1px solid #000;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 60px;
  min-width: 200px;

  margin: 0 15px;
  transition: color 0.4s linear;
  position: relative;
}
.button19 button:hover {
  color: #fff;
}
.button19 button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.button19 button::before {
  transform: scaleX(0);
}
.button19 button:hover::before {
  transform: scaleX(1);
}
.button20 button{
  padding: 20px 60px;
  border: none;
  color: #42fbf2;
  border-radius: 4px;
  border: 2px solid #42fbf2;
  position: relative;
  outline: none;
  z-index: 1;
}
.button20 button:hover{
  color: #fff;
  cursor: pointer;
}
.button20 button::before{
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #42fbf2;
}
.button20 button:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}